html, body {
	margin: 0;
	padding: 0;
	background: #1a1d1f;
	color: #eee;
	font-family: cursive;
	overflow-x: hidden;
}

#badge {
	z-index: 999;
	opacity: 0.8;
	width: 160px;
	position: fixed;
	left: 720px;
	top: 306px;
}

p, figure {
	margin: 0;
	padding: 0;
}

img {
	margin: 0;
	padding: 0;
	width: 100%;
}

.wrapper {
	margin: 0;
	padding: 0;
	height: 100%;
}


#stark{
	width: 100%;
	height: 800px;
  /*background: -webkit-linear-gradient(left top, #1A1C1D, #1A1a1c);*/
	background: url(main.png) no-repeat #1A1d1d;
}

.wrapper title {
	display: block;
	width: 450px;
	color: #fff;
	font-size: 36px;
	margin-left: 430px;
	padding-top: 80px;
	text-align: center;
}

#stark pre {
	font-family: cursive;
	font-weight: lighter;
	font-size: 16px;
	margin-left: 430px;
	width: 450px;
	text-align: center;
}

.first-letter {
	font-style: italic;
	font-size: 28px;
	margin-right: -10px;
	display: inline-block;
}

#ned {
	width: 100%;
	height: 800px;
  background: -webkit-linear-gradient(right, #00101f, #1D1A3A);
}

section p {
	word-spacing:5px;
}

#ned p {
	margin: 10px;
	width:350px; 
	float:left;
	padding:150px 200px;
	color: #c8efa0;
}

#robb {
  background: -webkit-linear-gradient(left top, #43434B, #43523D);
  position: relative;
	height: 800px;
}

#robb p {
	position: absolute;
	padding: 100px;
	width: 400px;
	left: 1200px;
	margin: 0;
	opacity: 0;
}

#snow {
	background-color:#fff;
	height: 1200px;
}

#snow p {
	color: #4B4B34;
	width: 1000px;
	margin: 0 auto;
	padding: 100px 10px 50px;
}

#others {
	position: relative;
	height: 2000px;
	color: #D9DD7C;
  background: -webkit-linear-gradient(left top, #361919, #AD2828);
}

.thumbnail {
	width: 1280px;
	margin: 80px auto;
	padding-left: 20px;
}

.thumbnail figure {
	width: 300px;
	float: left;
	text-align: center;
	margin: 5px;
}

.thumbnail img {
	display: inline-block;
	width: 100%;
	box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

#footer {
	background: -webkit-linear-gradient(top, #321f4d, #1d1836);
	height: 1150px;
}

#footer p {
	color: #d15;
	margin: 0 auto;
	width: 800px;
	text-align: center;
	padding-top: 150px;
	font-weight: lighter;
	font-size: 48px;
}