* {
	outline: none;
}

html,body,div,section,p,pre,aside,header,footer,article,figure,ul,ol, input,button,textarea, h1, h2,h3,h4,h5,h6  {
	margin: 0;
	padding: 0;
}

.toobar-item {
	padding: 5px 10px;
	background: #eee;
	width: 720px;
	display: inline-block;
	border: 1px solid #ddd;
	border-bottom: none;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}




.toobar-item a {
	text-decoration: none;
	color: #666;
	width: 20px;
	display: inline-block;
	font-size: 15px;
	margin-right: 10px;
}

.separator {
	border-left: 1px solid #888;
	padding-right: 10px;
}

.editor-content {
	display: inline-block;
	border: 1px solid #ccc;
	width: 720px;
	min-height: 300px;
	padding: 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05) inset;
	color: #555;
}

.editor-content:hover {
	cursor: text;
}


.editor-content ul, .editor-content ol {
	margin-left: 35px;
}

.editor-content pre {
	padding: 10px;
	color: #C03C51;
	background: rgba(100, 100, 100, 0.1);
	margin: 10px;
	overflow: scroll;
	overflow-x: auto;
	overflow-y: hidden;
	word-wrap: normal; 
}

.editor-active {
	color: #65D88E !important;
}

