::-webkit-input-placeholder { color:#797; font-style: italic;  font-weight: lighter;}
::-moz-placeholder { color:#797; font-style: italic;  font-weight: lighter;}
input:-moz-placeholder{ color:#797; font-style: italic;  font-weight: lighter;}

html, body, section {
	border: none;
}

html {
	background: -webkit-linear-gradient(top left, #1fa670, #1fa67a);
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #222;
}

.highLight{
	color: #4C59F5;
	font-weight: bold;
}

input {
	display: inline-block;
	padding: 8px;
	outline: 0;
	font-size: 20px;
	width: 482px;
	line-height: 30px;
	border: 5px solid #22916D;
	border-radius: 2px;
}

input:focus{
	border: 5px solid #66AC95;
	box-shadow: 0 1px 5px rgba(0,0,0,0.3) inset;
	-webkit-transition: all 0.3s;
}

#hints-board {
	margin: 100px auto;
	width: 500px;
	display: block;
}

.hints {
	padding: 2px 0 0;
	width: 100%;
	border: none;
	display: block;
	margin-top: -1px;
	margin-left: 5px;
	background-color: #fcfcfc;
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
	max-height: 400px;
	overflow-y: scroll; 
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 1px; 
}

#hints li {
	font-size: 16px;
	color: #543;
	padding: 5px 20px;
}

#hints li:hover{
	background: #eee;
	cursor: pointer;
}

.selected {
	background: #eee;
}

.noItem {
	display: none;
}